<div class="containertable">
    <div class="table">
        <h3 class="name">Nombre</h3>
        <h3 class="description">Descripcion</h3>
        <h3 class="price">Precio</h3>
        <h3 class="category">Category</h3>
        <h3 class="stock">Stock</h3>
    </div>
    <div class="List-conteiner">
        {{#each products}}
            <div class="table l">
                <h3 class="name data">{{name}}</h3>
                <h3 class="description data">{{description}}</h3>
                <h3 class="price data">{{price}}</h3>
                <h3 class="category data">{{category}}</h3>
                <h3 class="stock data">{{stock}}</h3>
            </div>
        {{/each}}
    </div>
</div>